<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/dashboard/sidenav.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div class="container-fluid">
        <nav>
            <%- include('./partials/navbar.ejs', {
                title: ''
            }) %>
        </nav>


        <%- include('./partials/sidenav.ejs', {
            blogger
        }) %>
            <main class="p-3">
                <div class="row">
                    <% if(err) { %>
                        <div class="d-flex justify-content-center">
                            <span class="text-danger"><%= err %> </span>
                        </div>
                        <% } else if(articles !== null) {articles.forEach(article => { %>

                            <div class="col-sm-12 col-md-6 col-lg-4 px-5">
                                <div class="card d-flex align-items-center p-4">
                                    <img class="card-img-top post-card-image" src="<%=article.image ? `images/post_header_image/${article.image}` : `images/avatars/default.jpg`%>">
                                    <div class="card-body">
                                        <h5 class="card-title text-center">
                                            <%= article.title %>
                                        </h5>
                                        <p class="card-text text-center">
                                            <%= article.description %>
                                        </p>
                                        <div class="d-flex justify-content-center">
                                            <a href="/dashboard/articleDetail/<%= article._id %>" class="btn btn-primary">Read the Article</a>
                                        </div>
                                    </div>
                                    <hr>
                                    <img src="<%=article.postedBy.avatar ? `images/avatars/${article.postedBy.avatar}` : " images/avatars/default.jpg "%>" alt="" class="mb-3 writer-avatar_container">
                                    <p><strong>Writer:</strong>
                                        <%= article.postedBy.username %>
                                    </p>
                                    <p><strong>Writer Email:</strong>
                                        <%= article.postedBy.email %>
                                    </p>
                                    <p><strong>Created at:</strong>
                                        <%= article.createdAt.toISOString().substring(0, 10) %>
                                    </p>
                                </div>
                            </div>
                            <% })} %>
                                <span class="text-danger"><%= detailError %></span>
                </div>
            </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/dashboard/sidenav.js"></script>
</body>

</html>